<div class="card{% if task.is_completed %} finished{% endif %}">
    <div class="card-title">
        <span>{{ task.title }}</span>
    </div>
    <div class="card-crud">
        <span>
            <a class="card-edit" href=" {% url 'todolist:task-view' id=task.pk %}">Editar</a> |

            <a class="card-delete" href=" {% url 'todolist:delete' %}?task_id={{ task.pk }} ">Deletar</a> |

            {% if task.is_completed %}
                <a class="card-undone" href=" {% url 'todolist:undone' %}?task_id={{ task.pk }} ">Undone</a>
            {% else %}
                <a class="card-done" href=" {% url 'todolist:done' %}?task_id={{ task.pk }} ">Done</a>
            {% endif %}

        </span>
    </div>
</div>