{% extends 'global/base.html' %}

{% block title %}Painel{% endblock title %}

{% block content %}

<main>
    <div class="main-container container">
        <div class="main-content">
            <div class="card-group">
                {% include 'todolist/partials/post.html' %}
                {% include 'todolist/partials/post.html' %}
                {% include 'todolist/partials/post.html' %}
                {% include 'todolist/partials/post.html' %}
            </div>
        </div>
    </div>
</main>

{% endblock content %}