{% extends 'global/base.html' %}

{% block title %}Painel{% endblock title %}

{% block content %}

<main>
    <div class="main-container container">
        <div class="main-content">
            <div class="card-group">
                
                {% if tasks %}
                    <h2>Completed</h2>
                    {% for task in tasks %}
                        {% if task.is_completed %}
                            {% include 'todolist/partials/post.html' %}
                        {% endif %}
                    {% endfor %}

                    <h2>Not Completed</h2>
                    {% for task in tasks %}
                        {% if not task.is_completed %}
                            {% include 'todolist/partials/post.html' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</main>

{% endblock content %}